<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SIES - TES</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="cards-container">
    
    <!-- Subtle heading above cards -->
    <h1 class="page-title">SIES - TES</h1>
    
    <a href="/student/login-form" class="card">
      <img src="/static/Student_logo.png" alt="Student">
      <p>Student</p>
    </a>
    <a href="/admin/login-form" class="card">
      <img src="/static/Admin_logo.png" alt="Admin">
      <p>Admin</p>
    </a>
  </div>
</body>
</html>
