<div class="sidebar">
    <div class="nav-links">
        <div class="logo-container">
            <img src="{{ url_for('static', path='sies_logo.png') }}" class="logo" alt="Logo">
            <p class="college-name text-center">SIES COLLEGE OF ARTS, SCIENCE, & COMMERCE</p>
        </div>
        <h2 class="welcome text-center mb-6">Welcome {{ student.name }}</h2>

        <a href="/studentDashboard"><button class="nav-link-btn active">Dashboard</button></a>
        <a href="/module-rating"><button class="nav-link-btn">Module Rating</button></a>
        <a href="/resources"><button class="nav-link-btn">Resources</button></a>
        <a href="/logout"><button class="nav-link-btn logout-btn mt-auto">Logout</button></a>

        <div class="contact-box mt-4 p-4 rounded-lg text-sm">
            <p>
                Contact Info: +91 8591086432 <br>
                College Phone Number: XXX-XX-XXXX <br>
                About us: XYZ
            </p>
        </div>
    </div>
</div>

