<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <link rel="stylesheet" href="/static/css/studentRegistration.css">
</head>
<body>
    <div class="container">
        <h2>Register as a Student</h2>
        <form method="POST" action="/register">
            <label for="name">Name:</label>
            <input type="text" name="name" required>

            <label for="roll_number">Roll Number:</label>
            <input type="text" name="roll_number" required>

            <label for="password">Password:</label>
            <input type="password" name="password" required>

            <label for="class_name">Class</label>
            <select name="class_name" required>
                <option value="">Select Class</option>
                <option value="FYIT">FYIT</option>
                <option value="SYIT">SYIT</option>
                <option value="TYIT">TYIT</option>
            </select>

            <label for="admission_year">Admission Year:</label>
            <input type="number" name="admission_year" required min="2023" max="2030">



            <button type="submit">Register</button>
        </form>


        <div class="back-link">
            <a href="/login-form">Already registered? Login</a>
        </div>
    </div>
</body>
</html>
